.card {
  border-radius: 10px;
  background-color: white;
}

.saved-list {
  border-radius: 15px;
}

.deleteBook {
  border-radius: 5px;
  margin-left: 10px;
}

.viewBook {
  border-radius: 5px;
  margin-left: 5px;
}
